body {
  background-image: url("skyline.jpg");
  background-size: 1400px;
  background-repeat: no-repeat;
  filter: brightness(0.9);
}
a {
  color: hsl(249, 40%, 86%);
  text-decoration: none;
}
.weather-app {
  background-color: #494b4cc3;
  backdrop-filter: blur(10px);
  max-width: 650px;
  margin: 40px auto;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header {
  border-bottom: 1px solid #f0f8ff4d;
  padding: 0 0 30px 0;
}
.search-form {
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-submit {
  background: #3dace0;
  padding: 17px 30px;
  border: none;
  margin-left: 5px;
  font-size: 16px;
  border-radius: 6px;
  color: aliceblue;
}
main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-details {
  font-size: 16px;
  line-height: 24px;
  color: #ffffff99;
  font-weight: 500;
}
.weather-details strong {
  color: #d75aa9;
}
.weather-temperature {
  display: flex;
}
.weather-app-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
.day {
  font-size: 16px;
  opacity: 0.7;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-day {
  text-align: center;
  color: #f9f4f4cc;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-widget {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgb(244, 244, 244);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
footer {
  border-top: 1px solid #f0f8ff4d;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.9);
}
